{% extends "home2.html" %} {% block body %}

<div class="container">
    <div class="jumbotron">
        <h4>My Pet!</h4>
        <h7>새로 등록하실 펫에 대한 간단한 설문입니다.</h7>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- <form class="form-horizontal" role="form"> -->
            <div class="form-group form-group-lg">
                <label for="" class="col-lg-2 control-label">이름*</label>
                <div class="col-lg-10">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Input Name">
                        </div>
                    </form>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <!-- <form class="form-horizontal" role="form"> -->
            <div class="form-group form-group-lg">
                <label for="" class="col-lg-2 control-label">탄생*</label>
                <div class="col-lg-10">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Input Year">
                            <input type="text" class="form-control" placeholder="Input Month">
                            <input type="text" class="form-control" placeholder="Input Day">
                        </div>
                    </form>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <!-- <form class="form-horizontal" role="form"> -->
            <div class="form-group form-group-lg">
                <label for="" class="col-lg-2 control-label">펫종</label>
                <div class="col-lg-10">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Input Kind">
                        </div>
                    </form>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <!-- <form class="form-horizontal" role="form"> -->
            <div class="form-group form-group-lg">
                <label for="" class="col-lg-2 control-label">성별*</label>
                <div class="col-lg-10">
                    <form action="#" type="get">
                        <select data-toggle="select" class="form-control select select-default mrs mbm">
                          <option value="0">M</option>
                          <option value="1">W</option>
                        </select>

                    </form>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <!-- <form class="form-horizontal" role="form"> -->
            <div class="form-group form-group-lg">
                <label for="" class="col-lg-2 control-label">크기*</label>
                <div class="col-lg-10">
                    <form action="#" type="get">
                        <select data-toggle="select" class="form-control select select-default mrs mbm">
                          <option value="0">S</option>
                          <option value="1">M</option>
                          <option value="2">L</option>
                        </select>

                    </form>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <!-- <form class="form-horizontal" role="form"> -->
            <div class="form-group form-group-lg">
                <label for="" class="col-lg-2 control-label">중성화수술*</label>
                <div class="col-lg-10">
                    <form action="#" type="get">
                        <select data-toggle="select" class="form-control select select-default mrs mbm">
                          <option value="0">Y</option>
                          <option value="1">N</option>
                        </select>

                    </form>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <!-- <form class="form-horizontal" role="form"> -->
            <div class="form-group form-group-lg">
                <label for="" class="col-lg-2 control-label">예방접종*</label>
                <div class="col-lg-10">
                    <form action="#" type="get">
                        <select data-toggle="select" class="form-control select select-default mrs mbm">
                          <option value="0">Y</option>
                          <option value="1">N</option>
                        </select>

                    </form>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    <ul class="nav navbar-nav navbar-right">
        <input type="submit" value="등록하기" class="btn btn-danger">
    </ul>


</div

{% endblock %}
