{% extends "home2.html" %} {% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Thanks!</h4>
            <p>펫시터가 되시길 희망하시는 군요! 간단한 설문을 통해 등록을 쉽게 도와드릴게요.</p>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
                </div>

                <div class="collapse navbar-collapse navbar-collapse-01">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="">PetSit</a></li>

                        <li class="dropdown">
                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
              Information
              <span class="caret"></span>
              </a>
                            <ul class="dropdown-menu">
                                <li><a href="#fakelink">Nickname</a></li>
                                <li> <a href="#fakelink">Account</a></li>
                                <li> <a href="#fakelink">Open range</a></li>
                                <li> <a href="#fakelink">Form</a></li>
                            </ul>
                            <!-- /Sub menu -->
                        </li>
                        <li class="dropdown">
                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
              Career
              <span class="caret"></span>
              </a>
                            <ul class="dropdown-menu">
                                <li><a href="#fakelink">Experience</a></li>
                                <li> <a href="#fakelink">Certificate</a></li>
                            </ul>
                            <!-- /Sub menu -->
                        </li>
                        <li class="dropdown">
                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
              Condition
                <span class="caret"></span>
              </a>
                            <ul class="dropdown-menu">
                                <li><a href="#fakelink">Pick up</a></li>
                                <li><a href="#fakelink">Area</a></li>
                            </ul>
                            <!-- /Sub menu -->
                        </li>
                        <li class="dropdown">
                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
              Pets
                <span class="caret"></span>
              </a>
                            <ul class="dropdown-menu">Sign In
                                <li> <a href="#fakelink">Kinds</a></li>
                                <li><a href="#fakelink">Size</a></li>
                                <li><a href="#fakelink">Vaccines</a></li>
                                <li><a href="#fakelink">Surgery</a></li>
                                <li><a href="#fakelink">How many</a></li>
                            </ul>
                            <!-- /Sub menu -->
                        </li>
                        <li><a href="#fakelink">Calendars</a></li>
                        <li><a href="#fakelink">Self-instroduction</a></li>
                    </ul>
                </div>
                <!--/.nav -->
            </nav>
        </div>
    </div>
</div>

{% endblock %}
